<div class="container">
    <div class="row justify-content-center align-items-center g-2">
        <div class="col-xs-12 col-md-6 col-lg-4" *ngFor="let card of cards">
            <app-trivial-card [card]="card"></app-trivial-card>
        </div>
    </div>
</div>