<div class="row align-items-md-stretch" *ngIf="apod !== undefined">
    <div class="col-md-12">
        <div class="h-100 p-5 bg-light border rounded-3 d-flex flex-column">
            <h2>{{apod.title}}</h2>
            <img [src]="apod.url" [alt]="apod.title" class="mx-auto" *ngIf="apod.isImage">
            <youtube-player *ngIf="apod.isVideo" class="mx-auto" [videoId]="apod.youtubeId"></youtube-player>
            <p>{{apod.explanation}}</p>
            <a class="btn btn-primary" type="button" [href]="apod.hdurl" *ngIf="apod.isImage">Image HD</a>
        </div>
    </div>
</div>

<div class="row align-items-md-stretch" *ngIf="apod === undefined">
    <div class="col-md-12">
        <div class="h-100 p-5 bg-light border rounded-3 d-flex flex-column">
            <h2>Loading...</h2>
        </div>
    </div>

</div>