<div class="container">
    <mat-slider min="0" max="96" showTickMarks="true" >
        <input value="2" matSliderStartThumb (valueChange)="changeLowRange($event)">
        <input value="5" matSliderEndThumb (valueChange)="changeHighRange($event)">
      </mat-slider>
      <p>{{range | json}}</p>
      
    <div class="row justify-content-center align-items-center g-2">
        <div class="col-xs-12 col-sm-6 col-lg-4" *ngFor="let beer of showBeers">
            <div class="card">
                <img class="card-img-top mx-auto mt-3" [src]="beer.image" [alt]="beer.name" style="width: 60px;">
                <div class="card-body">
                    <h4 class="card-title">{{beer.name | uppercase}}</h4>
                    <p class="card-text">{{beer.description}}</p>
                    <p class="card-text">{{beer.abv | abv : 'º' : 4 }}</p>
                </div>
            </div>
        </div>
    </div>
</div>