@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');



.container {
    padding: 10px;
    border-radius: 1em;
    width: 400px;
    margin: auto;
    background-color: #191b28;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

