<div class="card">
    <div class="card-body">
        <h6 class="card-title">{{card.question}}</h6>
        <div class="d-grid gap-2">
          <button type="button" name="" id="" [class]="buttonClass[i]" *ngFor="let answer of card.answers; let i=index" [disabled]="card.isResponded" (click)="handleAnswer(answer, i)">{{answer}}</button>
        </div>
    </div>
</div>