<div class="mb-3">
    <label for="" class="form-label">Hero Name</label>
    <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder=""
        [(ngModel)]="name">
</div>
<div class="mb-3">
    <label for="" class="form-label">Hero Description</label>
    <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder=""
        [(ngModel)]="description">
</div>

<button type="button" class="btn btn-primary" (click)="addHero()" [disabled]="name === ''" >Add Hero</button>