<table class="keyboard">
<tr>
    <!-- display() function displays the value of clicked button -->
    <td> <input type="button" value="1" (click)="doOnClick(1)" /> </td>
    <td> <input type="button" value="2" (click)="doOnClick(2)" /> </td>
    <td> <input type="button" value="3" (click)="doOnClick(3)" /> </td>
    <td> <input type="button" value="/" (click)="doOnClick('/')" /> </td>
  </tr>
  <tr>
    <td> <input type="button" value="4" (click)="doOnClick(4)" /> </td>
    <td> <input type="button" value="5" (click)="doOnClick(5)" /> </td>
    <td> <input type="button" value="6" (click)="doOnClick(6)" /> </td>
    <td> <input type="button" value="-" (click)="doOnClick('-')" /> </td>
  </tr>
  <tr>
    <td> <input type="button" value="7" (click)="doOnClick(7)" /> </td>
    <td> <input type="button" value="8" (click)="doOnClick(8)" /> </td>
    <td> <input type="button" value="9" (click)="doOnClick(9)" /> </td>
    <td> <input type="button" value="+" (click)="doOnClick('+')" /> </td>
  </tr>
  <tr>
    <td> <input type="button" value="C" (click)="initCalculator()" /> </td>
    <td> <input type="button" value="0" (click)="doOnClick(0)" /> </td>

    <!-- calculate() function evaluates the mathematical expression -->
    <td> <input type="button" value="=" (click)="doOnClick('=')" id="btn" /> </td>
    <td> <input type="button" value="*" (click)="doOnClick('*')" /> </td>
  </tr>
</table>