<div class="container">
    <label for="typeahead-basic">Search for a country:</label>
    <input id="typeahead-basic" type="text" class="form-control" [(ngModel)]="model" [ngbTypeahead]="search" />
    <hr />
    <pre>Model: {{ model | json }}</pre>
</div>