<div class="container">
    <div class="row align-items-md-stretch">
        <div class="col-md-12">
            <div
                class="h-100 p-5 text-white bg-primary border rounded-3">
                <h2>Page not Found</h2>
                <p>404</p>
            </div>
        </div>
    </div>
</div>