<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <label>First Name:
        <input type="text" formControlName="firstName">
    </label>
    <label>Last Name:
        <input type="text" formControlName="lastName">
    </label>

    <div formArrayName="aliases">
        <h3>Aliases</h3> <button (click)="addAlias()">Add Alias</button>
        <div *ngFor="let alias of aliases.controls; let i=index">
            <!-- The repeated alias template -->
            <label>
                Alias:
                <input type="text" [formControlName]="i">
            </label>
        </div>
    </div>
    <button type="submit" [disabled]="!profileForm.valid">Submit</button>
</form>
