<ul class="list-group mt-4">
    <li class="list-group-item" *ngFor="let hero of heroesList; let i=index"><b>{{i + 1}}.- {{hero.name}}: </b>
         {{hero.description}}
         <br>
        <button class="btn btn-danger float-right" (click)="deleteHero(i)">Delete</button>
        </li>
</ul>